<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Department" asp-action="Index" class="navbar-brand">Bangazon! Workforce Management</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-controller="Department" asp-action="Index">Departments</a></li>
                <li><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>
                <li><a asp-area="" asp-controller="Computer" asp-action="Index">Computers</a></li>
                <li><a asp-area="" asp-controller="TrainingProgram" asp-action="Index">Training Programs</a></li>
            </ul>
        </div>
    </div>
</div>
