@model workforce_management.ViewModels.DepartmentList
@using Bangazon.Models;

<h2>Departments</h2>

<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
        @foreach(Department department in @Model.Departments)
{
                <tr>
                    <td> @Html.DisplayFor(model => department.Name) </td>
                    <td> @Html.DisplayFor(model => department.Description) </td>
                </tr>
            }
    </tbody>
</table>
