@model workforce_management.ViewModels.EmployeeList
@using Bangazon.Models;

<h2>Employees</h2>

<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Department</th>
        <th>Details</th>
    </thead>
    <tbody>
        @foreach (Employee employee in @Model.Employees)
            { 
                <tr>
                    <td >@Html.DisplayFor(model => employee.FirstName)</td>
                    <td>@Html.DisplayFor(model => employee.DepartmentId)</td>
                    <td><a class="btn btn-primary btn-xs" asp-controller="Employee" asp-action="Detail" asp-route-id="@employee.EmployeeId">Details</a></td>
                </tr>
            }
    </tbody>
</table>