@model workforce_management.ViewModels.EmployeeList
@using Bangazon.Models;

<h2>Employees</h2>

<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Department</th>
    </thead>
    <tbody>
        @foreach (Employee employee in @Model.Employees)
            { 
                <tr>
                    <td><a asp-controller="Employee" asp-action="Detail" asp-route-id="@employee.EmployeeId">@Html.DisplayFor(model => employee.FirstName)</a></td>
                </tr>
            }
    </tbody>
</table>